<div class="d-flex align-items-center py-4 bg-body-tertiary flex-column text-center">
  <main role="main" class="form-signin w-50 m-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', id: 'floatingInput', placeholder: 'name@example.com' %>
        <%= f.label :email  %>
      </div>
      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', id: 'floatingPassword', placeholder: 'Password' %>
        <%= f.label :password %><br />
      </div>

      <div class="form-check text-start my-3">
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me, class: 'form-check-input', id: 'flexCheckDefault' %>
            <%= f.label :remember_me, class: 'form-check-label' %>
          </div>
        <% end %>
      </div>
      <%= f.submit "Log in", class: 'btn btn-primary w-100 py-2' %>
      <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
    <% end %>
    <%= render "devise/shared/links" %> 
  </main>
</div>

